In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import ast

In [2]:
# Training data
train = pd.read_csv("/home/kito/Desktop/sem5/მანქანური სწავლება/tmdb-box-office-prediction/train.csv")
# Test data
test = pd.read_csv("/home/kito/Desktop/sem5/მანქანური სწავლება/tmdb-box-office-prediction/test.csv")

train.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [3]:
# Prepare training data dataframe.
# Use 7 features for simple predictions
trainX = train[['belongs_to_collection', 'budget', 'genres', 'original_language' ,'popularity', 'runtime', 'status']]
# Fix belongs_to_collection column
for i in range(len(trainX['belongs_to_collection'])):
    if trainX['belongs_to_collection'][i] != trainX['belongs_to_collection'][i]:
        trainX['belongs_to_collection'][i] = 0
    else: trainX['belongs_to_collection'][i] = 1
trainX['belongs_to_collection'] = pd.to_numeric(trainX['belongs_to_collection'])

# Fix genres column
for i in range(len(trainX['genres'])):
    if trainX['genres'][i] != trainX['genres'][i]:
        trainX['genres'][i] = 0
    else:
        curDict = ast.literal_eval(trainX['genres'][i])
        trainX['genres'][i] = len(curDict)

# For every unique entry in a feature that isn't numerical, create a column
trainX = pd.get_dummies(trainX)
# Replace every entry 'nan' with a zero
trainX = trainX.fillna(0)
trainX.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,belongs_to_collection,budget,popularity,runtime,genres_0,genres_1,genres_2,genres_3,genres_4,genres_5,...,original_language_sr,original_language_sv,original_language_ta,original_language_te,original_language_tr,original_language_ur,original_language_vi,original_language_zh,status_Released,status_Rumored
0,1,14000000,6.575393,93.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,40000000,8.248895,113.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,3300000,64.299990,105.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,1200000,3.174936,122.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,1.148070,118.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
# Prepare test data dataframe.
testX = test[['belongs_to_collection', 'budget', 'genres', 'original_language' ,'popularity', 'runtime', 'status']]

# Fix belongs_to_collection column
for i in range(len(testX['belongs_to_collection'])):
    if testX['belongs_to_collection'][i] != testX['belongs_to_collection'][i]:
        testX['belongs_to_collection'][i] = 0
    else: testX['belongs_to_collection'][i] = 1
testX['belongs_to_collection'] = pd.to_numeric(testX['belongs_to_collection'])

# Fix genres column
for i in range(len(testX['genres'])):
    if testX['genres'][i] != testX['genres'][i]:
        testX['genres'][i] = 0
    else:
        curDict = ast.literal_eval(testX['genres'][i])
        testX['genres'][i] = len(curDict)

# For every unique entry in a feature that isn't numerical, create a column
# Every entry will have a column for every unique feature value, but only its own
# feature value will be 1, others will be 0
testX = pd.get_dummies(testX)
# Replace every entry 'nan' with a zero
testX = testX.fillna(0)
testX.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,belongs_to_collection,budget,popularity,runtime,genres_0,genres_1,genres_2,genres_3,genres_4,genres_5,...,original_language_ta,original_language_te,original_language_th,original_language_tr,original_language_ur,original_language_xx,original_language_zh,status_Post Production,status_Released,status_Rumored
0,1,0,3.851534,90.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,0,88000,3.559789,65.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,8.085194,100.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,6800000,8.596012,130.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,2000000,3.217680,92.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
# Extract target variable from training set
trainY = train[['revenue']]
trainY

        revenue
0      12314651
1      95149435
2      13092000
3      16000000
4       3923970
...         ...
2995    1596687
2996     180590
2997   89456761
2998  171963386
2999   82087155

[3000 rows x 1 columns]

In [6]:
# Must create any column that is unique to train/test data in other data too.
# For example, there might be language entry 'GE' in test data, but not in train data,
# which may lead to bugs
trainX, testX = trainX.align(testX, join='outer', axis=1, fill_value=0)

In [7]:
# Scale features by normalization to avoid overflow and bias towards columns
def scaleFeature(dataFrame, column, trainX):
    stdVal = np.nanstd(trainX[column])
    meanVal = np.mean(trainX[column])
    dataFrame[column] = (dataFrame[column] - meanVal)/stdVal

In [8]:
# Scale test data values
scaleFeature(testX, 'budget', trainX)
scaleFeature(testX, 'popularity', trainX)
scaleFeature(testX, 'runtime', trainX)
testX.insert( 0, 'Ones', 1)
testX

,Ones,belongs_to_collection,budget,genres_0,genres_1,genres_2,genres_3,genres_4,genres_5,genres_6,...,original_language_tr,original_language_ur,original_language_vi,original_language_xx,original_language_zh,popularity,runtime,status_Post Production,status_Released,status_Rumored
0,1,1,-0.608627,0,0,0,0,1,0,0,...,0,0,0,0,0,-0.381073,-0.799302,0,1,0
1,1,0,-0.606250,0,0,1,0,0,0,0,...,0,0,0,0,0,-0.405180,-1.922886,0,1,0
2,1,0,-0.608627,0,0,1,0,0,0,0,...,0,0,0,0,0,-0.031241,-0.349869,0,1,0
3,1,0,-0.424942,0,0,0,1,0,0,0,...,0,0,0,0,0,0.010968,0.998431,0,1,0
4,1,0,-0.554602,0,0,1,0,0,0,0,...,0,0,0,0,0,-0.433449,-0.709416,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4393,1,0,0.525897,0,1,0,0,0,0,0,...,0,0,0,0,0,0.124532,0.459111,0,1,0
4394,1,1,-0.095390,0,0,0,0,1,0,0,...,0,0,0,0,0,-0.199699,-0.574586,0,1,0
4395,1,0,-0.176428,0,1,0,0,0,0,0,...,0,0,0,0,0,0.093671,0.953488,0,1,0
4396,1,0,-0.554602,0,0,1,0,0,0,0,...,0,0,0,0,0,0.982985,-0.349869,0,1,0
4397,1,0,-0.606899,0,1,0,0,0,0,0,...,0,0,0,0,0,0.234890,-1.024019,0,1,0

In [9]:
# Scale train data features
scaleFeature(trainX, 'budget', trainX)
scaleFeature(trainX, 'popularity', trainX)
scaleFeature(trainX, 'runtime', trainX)
trainX.insert( 0, 'Ones', 1)
trainX

,Ones,belongs_to_collection,budget,genres_0,genres_1,genres_2,genres_3,genres_4,genres_5,genres_6,...,original_language_tr,original_language_ur,original_language_vi,original_language_xx,original_language_zh,popularity,runtime,status_Post Production,status_Released,status_Rumored
0,1,1,-0.230453,0,1,0,0,0,0,0,...,0,0,0,0,0,-0.155998,-0.664472,0,1,0
1,1,1,0.471872,0,0,0,0,1,0,0,...,0,0,0,0,0,-0.017714,0.234395,0,1,0
2,1,0,-0.519486,0,1,0,0,0,0,0,...,0,0,0,0,0,4.613849,-0.125152,0,1,0
3,1,0,-0.576212,0,0,1,0,0,0,0,...,0,0,0,0,0,-0.436981,0.638885,0,1,0
4,1,0,-0.608627,0,0,1,0,0,0,0,...,0,0,0,0,0,-0.604463,0.459111,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,1,0,-0.608627,0,0,1,0,0,0,0,...,0,0,0,0,0,0.114857,-0.259982,0,1,0
2996,1,0,-0.608627,0,0,1,0,0,0,0,...,0,0,0,0,0,-0.391281,-0.259982,0,1,0
2997,1,0,1.147184,0,0,0,0,1,0,0,...,0,0,0,0,0,0.497362,0.548998,0,1,0
2998,1,0,0.525897,0,0,1,0,0,0,0,...,0,0,0,0,0,0.600089,-0.799302,0,1,0
2999,1,0,0.336810,0,0,0,1,0,0,0,...,0,0,0,0,0,0.169297,-0.080209,0,1,0

In [10]:
trainX = trainX.fillna(0)
testX = testX.fillna(0)

In [11]:
# Scale revenue from 0 to 1
trainY['revenue'] = np.log(trainY['revenue'])
rangeVal = max(trainY['revenue']) - min(trainY['revenue'])
minVal = min(trainY['revenue'])
trainY['revenue'] = (trainY['revenue'] - minVal)/rangeVal
trainY

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

       revenue
0     0.772233
1     0.868945
2     0.775128
3     0.784616
4     0.718136
...        ...
2995  0.675606
2996  0.572517
2997  0.866027
2998  0.896939
2999  0.861960

[3000 rows x 1 columns]

In [12]:
# Get value matrixes from the dataframes
trainXVals = np.matrix(trainX.values)
trainYVals = np.matrix(trainY.values)
testXVals  = np.matrix(testX.values)
# Initialize theta with value amount equal to number of columns in trainX
theta = np.matrix(np.zeros(trainXVals.shape[1]))

In [14]:
# Calculate theta using normal equation
xTrans = np.transpose(trainXVals)
xTransDotX = xTrans.dot(trainXVals)
temp1 = np.linalg.pinv(xTransDotX)

temp2 = xTrans.dot(trainYVals)
g = temp1.dot(temp2)
g = g.transpose()

In [15]:
newRes = testX.dot(g.transpose())
newRes

             0
0     0.755799
1     0.671631
2     0.706232
3     0.670180
4     0.696114
...        ...
4393  0.778506
4394  0.804266
4395  0.752257
4396  0.724496
4397  0.613498

[4398 rows x 1 columns]

In [16]:
newRes[0] = newRes[0].fillna(0)
newRes[0]

0       0.755799
1       0.671631
2       0.706232
3       0.670180
4       0.696114
          ...
4393    0.778506
4394    0.804266
4395    0.752257
4396    0.724496
4397    0.613498
Name: 0, Length: 4398, dtype: float64

In [17]:
# Undo scaling
newRes = newRes * rangeVal
newRes = newRes + minVal
newRes

              0
0     15.978859
1     14.199416
2     14.930937
3     14.168728
4     14.717018
...         ...
4393  16.458923
4394  17.003532
4395  15.903972
4396  15.317065
4397  12.970391

[4398 rows x 1 columns]

In [18]:
newRes = np.exp(newRes)
newRes

                 0
0     8.700221e+06
1     1.468006e+06
2     3.050868e+06
3     1.423641e+06
4     2.463315e+06
...            ...
4393  1.406110e+07
4394  2.424041e+07
4395  8.072488e+06
4396  4.488659e+06
4397  4.295061e+05

[4398 rows x 1 columns]

In [19]:
indArr = []
for i in range(3001, 3001 + 4398):
    indArr.append(i)
newRes.insert(0, 'id', indArr, 1)
newRes.columns = ['id', 'revenue']
newRes

        id       revenue
0     3001  8.700221e+06
1     3002  1.468006e+06
2     3003  3.050868e+06
3     3004  1.423641e+06
4     3005  2.463315e+06
...    ...           ...
4393  7394  1.406110e+07
4394  7395  2.424041e+07
4395  7396  8.072488e+06
4396  7397  4.488659e+06
4397  7398  4.295061e+05

[4398 rows x 2 columns]

In [20]:
newRes.to_csv('/home/kito/Desktop/sem5/მანქანური სწავლება/tmdb-box-office-prediction/solution.csv', index=False)